<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Visualisasi - Team Gradio</title>
    <!-- base:css -->
    <link
      rel="stylesheet"
      href="../vendors/mdi/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="../vendors/base/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../css/style.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="../images/favicon.png" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="main-panel documentation">
          <div class="content-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 doc-started text-center">
                  <h1 class="text-success mt-4 text-center">About</h1>
                  <hr>
                  <a class="btn btn-success" href="/"><i class="mdi mdi-home me-2"></i>Back to home</a>
                </div>
              </div>
              <div class="row doc-content">
                <div class="col-12 col-md-10 offset-md-1">
                  <div class="col-12 grid-margin" id="doc-intro">
                    <div class="card">
                      <div class="card-body">
                        <h3 class="mb-4 ">Introduction</h3><hr>
                        <p>
                          Kapella Admin is a responsive HTML template that is
                          based on the CSS framework Bootstrap 5 and it is built
                          with Sass. Sass compiler makes it easier to code and
                          customize. If you are unfamiliar with Bootstrap or
                          Sass, visit their website and read through the
                          documentation. All of Bootstrap components have been
                          modified to fit the style of Kapella Admin and provide
                          a consistent look throughout the template.
                        </p>
                        <p>
                          Before you start working with the template, we suggest
                          you go through the pages that are bundled with the
                          theme. Most of the template example pages contain
                          quick tips on how to create or use a component which
                          can be really helpful when you need to create
                          something on the fly.
                        </p>
                        <p class="d-inline">
                          <strong>Note</strong>: We are trying our best to
                          document how to use the template. If you think that
                          something is missing from the documentation, please do
                          not hesitate to tell us about it. If you have any
                          questions or issues regarding this theme, email us at
                          <a
                            class="d-inline text-info"
                            href="mailto:info@bootstrapdash.com"
                            >info@bootstrapdash.com</a
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-12 ">
                    <div class="col-12 grid-margin">
                        <div class="card bg-success">
                            <div class="card-body">
                            <h2 class="text-white mdi mdi-account-card-details text-center"> MEMBER</h2>
                            
                            
                        </div>
                        </div> 
                    </div>
                    </div>
                  </div>
                  <!-- edwin -->
                  <div class="container-fluid page-body-wrapper">
                    <div class="main-panel" >
                  <div class="row mt-lg-auto">
                    <div class="content-wrapper">
                    <div class="row text-center justify-content-center">
                  <div class="col-lg-4 grid-margin stretch-card" >
                    <div class="card bg-success text-white" style="width: 100%;  border-radius: 4%;">
                    <img src="images\about\edwin.jpg" style="height: 25rem;"class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-white">10121154 <br>EDWIN LIONA JAYA</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    </div>
                    </div>
                    <!-- hanif -->
                  <div class="col-lg-4 grid-margin stretch-card" >
                    <div class="card bg-success text-white" style="width: 100%; border-radius: 4%;">
                    <img src="images\about\hanif.jpg" style="height: 25rem;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-white">10121161 <br>HANIF AHMAD SYAUQI</h5>
                        <h6 class="card-title text-white"></h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    </div>
                    </div>
                    <!-- eri -->
                    <div class="col-lg-4 grid-margin stretch-card" >
                    <div class="card bg-success text-white" style="width: 100%; border-radius: 4%;">
                    <img src="images\about\eri.jpg" style="height: 25rem;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-white">10121139 <br>ERI SUKMAWAN</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    </div>
                    </div>
                    <!-- raihan -->
                    <div class="col-lg-4 grid-margin stretch-card" >
                    <div class="card bg-success text-white" style="width: 100%; border-radius: 4%;">
                    <img src="images\about\raihan.jpg" style="height: 25rem;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-white">10121141 <br>RAIHAN RAMADHAN</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    </div>
                    </div>
                    <!-- badar -->
                    <div class="col-lg-4 grid-margin stretch-card" >
                    <div class="card bg-success text-white" style="width: 100%; border-radius: 4%;">
                    <img src="images\about\badar.jpg" style="height: 25rem;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-white">10121135 <br> ALFATIHNAMAN BADHARIJA PUTRA MADVI </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <!-- partial:../partials/_footer.html -->
          <footer class="footer">
            <div class="footer-wrap">
              <div class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © Team GRADIO </a>2023</span>
              </div>
            </div>
          </footer>
          <!-- partial -->
        </div>
      </div>
    </div>
  </body>
</html>
